

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Content cont = new Content();
}
<style>
    textarea{
        resize:none;
        
    }
    </style>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@cont.Title" class="control-label"></label>
                <input asp-for="@cont.Title" class="form-control" />
                <span asp-validation-for="@cont.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@cont.Category" class="control-label"></label>
                <input asp-for="@cont.Category" class="form-control" />
                <span asp-validation-for="@cont.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@cont.Data" class="control-label"></label>
                <textarea asp-for="@cont.Data" rows="10" class="form-control" ></textarea>
                <span asp-validation-for="@cont.Data" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

